
body {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100vh; 
  background-color: yellow;
  /* background-image: url('../assets/background.png'); */
  /* opacity: 0.2; */
}

header {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center; 
  /* background-color:#202429; */
  background-color: #061930;
  border-bottom: 4px solid black;
  height: 65px;
  width: 100%;
}

/* .switch-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  
  padding: 20px 0px 0px 0px;
  align-items: center; 
 } */

 .App, .LoginPage, .SignupPage, .HomePage, .QueenPage, .LobbyPage {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  
  padding: 20px 0px 0px 0px;
  align-items: center; 
 }

 .drone-container, .Drone {
   display: flex;
   flex-flow: column;
   align-items: center;
 }
 
 /* .Drone-Questions{
   width: 80%;
 } */

 .Game-Container {
  display: flex;
  flex-flow: column;
  padding: 20px 0px 0px 0px;
  align-items: center; 
 } 

a, span{ 
  font-size: 20px;
  padding: 10px 60px;
  color: white;
  text-shadow: 2px 1px black;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0px;
  padding: 10px;
}

button {
  text-decoration: none;
}

form {
  display: block;
}

.Menu-button {
  display: flex;
  color: white;
  background-color: #061930;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid black;
  height: 180px;
  width: 180px;
  margin: 10px;
}

.Menu-button:hover{
  color: #061930;
  background-color: white;
}

.Lobby {
  border-radius: 50px;
}

.Winners-Circle {
  text-align: center;
}

.Select-Queen, .img-small-loading {
  align-self: center;
}

.img-small-loading {
  height: 20px;
  width: 20px;
  align-self: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img-responsive {
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-btn, .drone-select-btn{
  width: 80px;
  height: 32px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: white;
  border: solid 2px #061930;
  color: black;
  cursor: pointer;
}

.Drone-Input{
  height: 27px;
  width: 60%;
  border: solid 2px black;
  border-radius: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}